body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.background-1 {
  background-image: url("../img/background_1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.background-2 {
  background-image: url("../img/background_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: bottom;
}

p {
  color: gray;
}

#logo {
  width: 32px;
  height: 32px;
  margin: auto 48px;
}

#navbar {
    padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
}

nav ul {
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-right: 40px;
  font-weight: bold;
  font-size: large;
  font-variant: small-caps;
}

nav ul li a {
  margin: 0 25px 0 0;
  text-decoration: none;
  color: black;
}

#home {
  color: rgb(15, 200, 195);
}

#description {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-bottom: 175px;
}

#description div {
  width: 400px;
  margin: 150px 130px 0px 50px;
}

h1 {
  font-size: 24px;
}

button {
  background: rgb(15, 200, 195);
  border: none;
  color: white;
  font-size: 15px;
  font-variant: small-caps;
  height: 50px;
  width: 150px;
  font-weight: 600;
  cursor: pointer;
}

#about-us {
  margin: 50px;
  display: flex;
  justify-content: center;
}

#about-us header {
  text-align: center;
  width: 600px;
}

#skills {
  padding: 100px 70px 100px 70px;
}

#skills p {
  color: rgba(40, 120, 80, 0.7);
}

@media (max-width: 640px) {
  #skills {
    padding: 40px 20px 70px 20px;
  }
}

#skills div div {
  font-variant: small-caps;
}

.skill-range {
  background: lightcyan;
  height: 3px;
  width: 470px;
}

#skill-design,
#skill-web,
#skill-marketing {
  background: rgb(15, 200, 195);
  height: 3px;
}

#skill-design {
  width: 75%;
}

#skill-web {
  width: 90%;
}

#skill-marketing {
  width: 65%;
}

#statistics {
  background-color: rgb(15, 200, 195);
  height: 175px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#statistics div {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

#statistics div svg {
  width: 32px;
  height: 32px;
  margin: auto 10px auto auto;
  color: white;
}

#statistics div div p {
  width: 100%;
  color: white;
  margin: auto;
  line-height: 20px;
  font-variant: small-caps;
}

#statistics div div :first-child {
  font-weight: bold;
}

#slider {
  display: flex;
  flex-wrap: wrap;
}

#slider div {
  width: 25%;
  height: 300px;
  cursor: pointer;
  background: rgba(0, 152, 240, 0.9);
  overflow: hidden;
}

@media (max-width: 960px) {
  #slider div {
    width: 50%;
  }
}

#slider div img {
  width: 100%;
  height: 100%;
  transition: all 0.75s;
}

#slider div img:hover {
  opacity: 0.45;
  width: 120%;
  height: 120%;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#close:hover,
#close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 640px) {
  .modal-content {
    width: 100%;
  }
}

#load-more {
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  font-variant: small-caps;
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
}

#load-more p {
  color: rgb(150, 150, 150);
}

#work-process {
  margin: 80px 0px 100px 0px;
  text-align: center;
}

#video-player {
  margin-top: 40px;
}

#work-process p {
  margin: auto;
  text-align: center;
  width: 500px;
}

#video-player {
  width: 60%;
}

@media (max-width: 960px) {
  #video-player {
    width: 80%;
  }
}

#keywords {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-wrap: wrap;
  padding: 75px 75px 75px 75px;
}

#keywords div {
  width: 25%;
  text-align: center;
  margin: 15px auto;
}

.keyword-content div h4 {
  font-variant: small-caps;
}

.keyword-content img {
  height: 64px;
  width: 64px;
}

#keywords div div {
  width: 75%;
}

#quotes {
  background: rgb(15, 200, 195);
  height: 350px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

#quotes h3 {
  font-size: 24px;
}

@media (max-width: 960px) {
  #quotes h3 {
    font-size: 18px;
  }
}

#quotes div {
  text-align: center;
  margin: 20%;
}

#quotes p {
  font-variant: small-caps;
  color: white;
}

#companies-logo {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  height: 175px;
}

#companies-logo div {
  width: 20%;
  margin: auto;
}

#companies-logo div img {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  display: block;
}

#contact {
  padding-top: 70px;
  background-color: rgb(245, 245, 245);
  text-align: center;
  padding-bottom: 70px;
}

#contact p {
  margin: auto auto 30px auto;
  width: 540px;
}

#contact form {
  margin: auto;
  width: 50%;
}

@media (max-width: 960px) {
  #contact form {
    width: 90%;
  }
}

#contact-submit {
  margin: auto;
  width: 200px;
}

input {
  border: 0;
  height: 50px;
  padding: 0 20px;
  font-size: 15px;
  color: rgb(15, 15, 15);
}

textarea {
  border: 0;
  height: 175px;
  padding: 20px 20px;
  font-size: 15px;
  color: rgb(15, 15, 15);
}

#contact-submit input {
  padding: 10px;
  width: 200px;
}

#contact form div {
  display: flex;
}

#contact form div * {
  margin: 0px 10px 15px 10px;
  flex-grow: 100;
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

footer h4 {
  color: white;
}

footer p {
  line-height: 10px;
}

footer ul,
footer div {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer a {
  color: gray;
  text-decoration: none;
}
